*,
:before,
*:after {
  box-sizing: border-box;
  max-width: 600px;
  border: solid violet 10px;
  padding: 1rem;
}
body {
  background-color: hot red;
  max-width: 600px;
  border: solid navy;
  font-family: "Courier New", Courier, monospace;
  color: violet;
}
div {
  border: solid black;
}

.Julia {
  color: aqua;
  font-size: 16px;
}
_test {
  background-color: black;
}
